@font-face {
    font-family: Poppins;
    font-weight: normal;
    src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url(/fonts/Poppins-Bold.ttf);
}
