@use 'colors';
@use 'breakpoints' as *;
@use 'fonts';
@use 'sass:color';

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: colors.$foreground1-light;
    background: colors.$background-light;
    font-family: "Source Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include colors.dark {
        color: colors.$foreground1-dark;
        background: colors.$background-dark;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.highlightBar {
    padding: 0.3rem 0;
    background: #C7E1DD;
    color: #4D7D86;
    font-size: 0.9rem;

    @include colors.dark {
        color: #7DC1AE;
        background: #0B2E28;
    }
}

.topNav {
    position: fixed;
    width: 100%;
    z-index: 10000;

    background: colors.$background-light;
    border-bottom: solid 1px color.adjust(colors.$background-light, $lightness: -12%, $saturation: -40%);

    @include colors.dark {
        background: colors.$background-dark;
        border-bottom: solid 1px color.adjust(colors.$background-dark, $lightness: 3%);
    }

    .textLink {
        color: #4D7D86;

        @include colors.dark {
            color: #7DC1AE;
        }
    }

    .textLinkSeparator {
        display: none;
        width: 1px;
        background: #c2e5ec;
        height: 100%;

        @include colors.dark {
            background: color.adjust(colors.$background-dark, $lightness: 5%);
        }

        @include mediumAndUp {
            display: block;
        }
    }

    .topNavInner {
        padding: 0.3rem 0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        >* {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 1.75rem;
        }

        .home {
            filter: colors.$topnav-foreground-filter-light;

            @include colors.dark {
                filter: colors.$topnav-foreground-filter-dark;
            }
        }
    }

    .textLink {
        font-weight: 700;
        display: none;

        @include mediumAndUp {
            display: flex;
        }
    }
}

.imageLinks {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    >* {
        display: flex;
        align-items: center;
    }

    .menuToggle,
    .logo {
        filter: colors.$topnav-foreground-filter-light;

        @include colors.dark {
            filter: colors.$topnav-foreground-filter-dark;
        }
    }
}

@mixin linklikeButton {
    background: transparent;
    border: none;
    outline: none;
    filter: colors.$topnav-foreground-filter-light;
    cursor: pointer;

    @include colors.dark {
        filter: colors.$topnav-foreground-filter-dark;
    }
}

.languageSwitchButton {
    @include linklikeButton;
}

// Desktop navigation language switcher
.languageSwitcherContainer {
    .languageSelect {
        display: none; // Hide select in desktop navigation
    }
}

// Mobile language select in menu
.mobileLanguageSwitcher {
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid color.adjust(colors.$background-light, $lightness: -10%);

    @include colors.dark {
        border-top-color: color.adjust(colors.$background-dark, $lightness: 10%);
    }

    .languageSwitchButton {
        display: none; // Hide button in mobile menu
    }

    .languageSelect {
        width: 100%;
        padding: 0.75rem;
        font-size: 1.1rem;
        background: transparent;
        color: inherit;
        border: 1px solid color.adjust(colors.$background-light, $lightness: -20%);
        border-radius: 4px;

        @include colors.dark {
            border-color: color.adjust(colors.$background-dark, $lightness: 20%);
            background: color.adjust(colors.$background-dark, $lightness: 5%);
        }

        &:focus {
            outline: 2px solid colors.$accent;
            outline-offset: 2px;
        }
    }
}

.languageSwitcherDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: colors.$background-light;
    color: colors.$foreground1-light;
    border: solid 3px color.change(colors.$foreground1-light, $alpha: 0.15);
    padding: 1.25rem;
    border-radius: 10px;

    @include colors.dark {
        background: colors.$background-dark;
        color: colors.$foreground1-dark;
        border-color: color.change(colors.$foreground1-dark, $alpha: 0.25);
    }

    &::backdrop {
        background: color.change(black, $alpha: 0.75);
    }

    .languageSwitcherDialog__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        padding-bottom: 1rem;
        font-size: 1.25rem;

        button {
            font-size: 1.25rem;
            @include linklikeButton;
        }
    }

    .languageList {
        font-size: 1.25rem;
        min-width: 14rem;
        line-height: 2.25rem;

        @include xsAndUp {
            column-count: 2;
        }

        @include smallAndUp {
            column-count: 3;
        }

        a {
            display: block;
        }
    }
}

.menuToggle {
    background: none;
    border: none;
    cursor: pointer;

    @include mediumAndUp {
        display: none;
    }
}

.menuOverlay {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    min-width: 100vw;
    background: colors.$background-light;
    z-index: 10001;
    border: none;
    color: inherit;

    &::backdrop {
        background: rgba(0, 0, 0, 0.4);
    }

    @include colors.dark {
        background: colors.$background-dark;
    }

    >* {
        padding: 0.3rem 2rem;
    }

    .textLinks {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        font-size: 2.25rem;
        gap: 0.5rem;
        font-weight: bold;
    }
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1200px;
}

.footerHolder {
    background: color.adjust(colors.$background-light, $saturation: -20%);
    padding: 2rem 0;

    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: color.adjust(colors.$foreground1-light, $lightness: -5%);

        @include colors.dark {
            color: color.adjust(colors.$foreground1-dark, $lightness: -5%);
        }

        .links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 2rem;
            row-gap: 2rem;
            align-items: start;

            .linkSet {
                flex: 1 0 10rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .linkSetHeading {
                    text-transform: uppercase;
                    font-size: 0.8rem;
                }

                ul {
                    line-height: 1.75rem;
                }

                .linkIcon {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1.25rem;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    list-style-type: none;
                }

                li {
                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5rem;
                        width: max-content;

                        &:hover {
                            color: colors.$foreground1-light;

                            @include colors.dark {
                                color: colors.$foreground1-dark;
                            }
                        }
                    }
                }
            }
        }

        .bottomBar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-top: solid 1px rgba(0, 0, 0, 0.05);
            margin-top: 1rem;
            padding-top: 1.5rem;
            font-size: 0.8rem;
            gap: 1rem;

            img {
                filter: colors.$topnav-foreground-filter-light;

                @include colors.dark {
                    filter: colors.$topnav-foreground-filter-dark;
                }
            }

            @include colors.dark {
                border-top-color: rgba(255, 255, 255, 0.05);
            }

            .legalDisclaimer {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                a {
                    display: flex;
                    align-items: center;
                }

                @include smallAndUp {
                  flex-direction: row;
                  gap: 1rem;
                  text-align: unset;
                }
            }

            .wordmark {
                display: none;
                max-width: 6rem;
            }

            .socials {
                display: flex;
                gap: 1.5rem;

                .socialAccount {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        transform: scale(2);
                        color: colors.$foreground3-light;

                        @include colors.dark {
                            color: colors.$foreground3-dark;
                        }
                    }
                }
            }

            @include mediumAndUp {
                flex-direction: row;

                .wordmark {
                    display: unset;
                }
            }
        }
    }

    @include colors.dark {
        background: color.adjust(colors.$background-dark, $lightness: -2%);
    }
}
