@media (max-width: @screen-tablet) {
  aside {
    height: 100%;
    ul {
      padding: 0;
      li {
        display: block;
        padding: 0;
        border-bottom: 1px solid @gray;
        a {
          padding: 15px 25px;
          display: block;
          color: @header-links-vertical;
          &:hover {
            background: @aside-hover;
          }
        }
      }
    }
  }
  header {
    height: @menu-mobile-height;
    padding: 8px;
    [src*="opensuse-logo.png"] {
      height: 27px;
    }
    .logo {
      padding-left: 0;
    }
  }
  section:first-of-type {
    padding-top: @menu-mobile-height;
  }
}
