section{
  padding: 50px 0;
}

#opensuse-os {
  background: @opensuse-os-background;
  h2 {
    color: #fff;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  h1 {
    color: @opensuse-green;
    font-weight: 300
  }
  h3 {
    color: #fff;
  }
  //temporal
  .fa {
    color: #fff;
    font-size: 80px;
  }
  // fin temporal
  .os-main {
    margin-bottom: 60px;
    .col-sm-6 {
      padding: 50px;
      &:first-of-type {
        border-right: 2px solid  @opensuse-green
      }
    }
  }
}
#opensuse-tools {
  background: #f6f6f6;
  .tools-container {
    margin-top: 70px;
    .media {
      height: 120px;
      padding: 15px;
      &:hover {
        background: #ededed;
      }
    }
  }
  [src*="laptop.png"] {
    height: 320px;
    margin-top: 70px;
  }
  .tools-laptop {
    padding-right: 0;
  }

}

.triangular-division {
  background: url('../images/light-gray-triangle-for-division.jpg') center no-repeat;
  height: 44px;
  width: 100%;
  min-width: 140px;
}

#contribute-to-suse {
  background: url('../images/bg-contribution.jpg') no-repeat;
  background-size: cover;
  h2, h4 {
    color: #fff
  }
  .contribution-columns {
    margin: 4em 0 2em;
    .col-sm-6:first-of-type {
      border-right: 1px solid @opensuse-blue;
    }
  }
}

