@use '@/app/colors';
@use 'sass:color';

.topNav {
    position: fixed;
    width: 100%;
    padding: 0.6rem 0rem;
    z-index: 10000;

    &.hasScrolled {
        background: colors.$background;
        border-bottom: solid 1px color.adjust(colors.$background, $lightness: 3%);

        .textLink {
            opacity: 0.8;
        }
    }

    .topNavInner {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1.75rem;
    }

    .logo {
        display: flex;
        align-items: center;
        filter: invert(86%) sepia(28%) saturate(185%) hue-rotate(124deg) brightness(85%) contrast(92%);
    }

    .textLink {
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
}
