@use '@/app/colors';
@use '@/app/breakpoints' as *;
@use 'sass:color';

.topNav {
    position: fixed;
    width: 100%;
    padding: 0.3rem 0rem;
    z-index: 10000;

    &.hasScrolled {
        background: colors.$background;
        border-bottom: solid 1px color.adjust(colors.$background, $lightness: 3%);

        .textLink {
            opacity: 0.8;
        }
    }

    .topNavInner {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1.75rem;
    }


    .textLink {
        font-weight: 700;
        display: none;

        @include mediumAndUp {
            display: flex;
        }
    }


}

.imageLinks {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    >* {
        display: flex;
        align-items: center;
        filter: invert(86%) sepia(28%) saturate(185%) hue-rotate(124deg) brightness(85%) contrast(92%);
    }
}

.menuToggle {
    background: none;
    border: none;
    cursor: pointer;

    @include mediumAndUp {
        display: none;
    }
}

.menuOverlay {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: colors.$background;
    padding: 0.6rem 2rem;
    z-index: 10001;

    &.menuOverlayOpen {
        opacity: 1;
        visibility: visible;
    }

    .textLinks {
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;
        gap: 0.5rem;
        font-weight: bold;
    }
}
