@use '@/app/breakpoints' as *;

.intro {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;

  h1 {
    font-size: 3rem;
  }
}

.propositions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 6rem;
  row-gap: 2rem;

  @include largeAndUp {
    row-gap: 4rem;
  }

  .proposition {
    flex: 1 1 0;
    min-width: 12rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 1.25rem;

    @include largeAndUp {
      width: 16rem;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .description {
        line-height: 1.25rem;
        opacity: 0.8;
      }
    }


    .image {
      background: var(--foreground);
      padding: 0.5rem;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
