---
name: build the landing page

on:
  push:
    branches:
      - "master"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    name: Node unit tests
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 16
      - run: npm install
      - run: npx gulp scripts compileLess imagesCompression moveFonts vendorCSS moveWebFonts
